# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
.idea/

# Others
target/
logs/

# Package Files
*.jar
*.war
*.ear
*.DS_Store
*.class

# static resources
flyer-job-backend/src/main/resources/public
flyer-job-frontend/node_modules/
